{{ ansible_managed | comment }}

# Path to the java executable.
JAVA={{ graylog_java_path }}

# Default Java options for heap and garbage collection.
GRAYLOG_SERVER_JAVA_OPTS="{{ graylog_java_opts_1 }}"

# Avoid endless loop with some TLSv1.3 implementations.
GRAYLOG_SERVER_JAVA_OPTS="{{ graylog_java_opts_2 }}"

# Fix for log4j CVE-2021-44228
GRAYLOG_SERVER_JAVA_OPTS="$GRAYLOG_SERVER_JAVA_OPTS -Dlog4j2.formatMsgNoLookups=true"

# Pass some extra args to graylog-server. (i.e. "-d" to enable debug mode)
GRAYLOG_SERVER_ARGS="{{ graylog_server_args }}"

# Program that will be used to wrap the graylog-server command. Useful to
# support programs like authbind.
GRAYLOG_COMMAND_WRAPPER="{{ graylog_command_wrapper }}"
